 .badge {
     padding: 50px 0;

     p {
         margin: 30px 100px;
         color: #eb984e;
     }
 }


 /*
.beast{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    border-top: 1px solid rgb(211, 202, 202);
    
} */
 .product-page {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;
     border-top: 1px solid rgb(211, 202, 202);

     border: 1px solid grey;
 }

 .product-image {
     min-height: auto;
     max-width: 500px;
     width: 50%;
     border-left: 1px solid rgb(227, 221, 221);

     /* padding: 5%; */
     .image{
        text-align: center;
     }
     .image img {
         /* padding-left: 25%; */
         max-width: 100%;
         height: auto;
     }

     .image-gallery {
         width: 100%;

         .i1 {
             width: 30%;
             text-align: center;
             border: 1px solid rgb(227, 221, 221);
         }
     }
 }

 .product-image img {}

 .product-details {
     max-width: 500px;
     width: 50%;
     background-color: #f7f7f7;
     padding: 20px;
     height: 500px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-right: 1px solid #e0e0e0;

 }

 .product-details h1 {
     font-size: 24px;
     padding: 0px 0px 30px;
     border-bottom: 1px solid #e0e0e0;
 }

 .product-details .product_price {
     font-size: 20px;
     margin: 0;
     padding: 30px 0;
     border-bottom: 1px solid #e0e0e0;
     color: black;
 }

 .out-of-stock {
     background-color: #eb4d5e;
     color: white;
     font-weight: bold;
     padding: 3px 12px;
 }

 .social-share {
     display: flex;
     gap: 10px;
     align-items: center;
     padding: 30px 0;
     border-bottom: 1px solid #e0e0e0;
 }

 .social-share span {
     display: inline-block;
     width: 24px;
     height: 24px;
     background-color: #ccc;
     text-align: center;
     line-height: 24px;
     border-radius: 50%;
     font-size: 16px;
     color: white;
 }

 .social-share .facebook {
     background-color: #3b5998;
 }

 .social-share .whatsapp {
     background-color: #25d366;
 }

 .social-share .twitter {
     background-color: #1da1f2;
 }

 .social-share a {
     text-decoration: none;
     color: black;
     border: 1px solid gray;
     padding: 7px 7px;
 }

 .image-gallery {
     display: flex;
     width: 100%;
     flex-wrap: wrap;
 }

 .image-gallery img {
     height: 100px;
     width: 100px;
 }

 .squre {
     border: 1px solid black;
 }

 /* review */

 .review {
     margin: 0 15%;
 }

 .review .re_title p {
     line-height: 33px;
     font-size: 20px;
 }

 .review p {
     line-height: 27px;
     margin: 20px 0;
 }

 .fa-star {
     color: gray;
 }

 .fa-circle-info {
     color: #1da1f2;
 }

 /* recommanded product */

 .product{
    text-align: center;
}
.product p{
    line-height: 48px;
    font-size: 32px;
    margin: 4% 2% 0;
}

.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2% 0;
}

.subcard {
    width: 16.2766%;
    height: 375px;
    border: 1px solid var(--border);
    position: relative;
    margin: 0 1%;
}

.hov {
    height: 100%;
    width: 100%;
    background-color: rgba(54, 66, 83, .95);
    position: absolute;
    top: 0;
    left: 0;
    scale: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.subcard:hover .hov {
    scale: 1;
}

.function {
    width: 70%;
    margin-left: 15%;
    color: white;
}

.function button {
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    color: var(--button);
    margin: 15% 0;

}

.btn {
    color: white !important;
    background-color: var(--bgPrimary);
}

.btn:hover {
    background-color: var(--buttonhover);
}

.function>p,
.p_price {
    margin-top: 10%;
    font-size: 18px;
}

.subcard .img {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img img {
    width: 100%;
    height: 100%;
}

.title_price {
    display: flex;
    height: 125px;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 4%;
}

.title_price p {
    font-size: 18px;
}

.p_price {
    font-weight: 700;
}

 /* mq */

 @media (max-width: 992px) {

    /* recommanded product */
    
    .card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .subcard {
        width: 40%;
        height: 375px;
        border: 1px solid var(--border);
        position: relative;
        margin: 2% 1%;
    }
    
    
    .subcard .img {
        width: 100%;
        height: 70%;
        /* height: 250px; */
        border-bottom: 1px solid var(--border);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    
    .img img {
        width: 100%;
    }
    
    
    .hov {
        height: 100%;
        width: 100%;
        background-color: rgba(54, 66, 83, .95);
        position: absolute;
        top: 0;
        left: 0;
        scale: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    
 }


 @media (max-width: 768px) {
     .product-page {
         flex-direction: column;
         align-items: flex-start;
     }

     .product-image {
         width: 100%;
     }
     .image{
        text-align: center;
     }

     .image img {
        padding-left: 0;
        max-width: 100%;
        height: auto;
    }

     .product-details {
         max-width: 100%;
         width: 100%;
     }

     .social-share {
         justify-content: flex-start;
     }


     /* recommanded product */

     .card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .subcard {
        width: 80%;
        height: 375px;
        border: 1px solid var(--border);
        position: relative;
        margin: 10% 1%;
    }

    

    .subcard .img {
        width: 100%;
        height: 70%;
        border-bottom: 1px solid var(--border);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    
    .img img {
        width: 100%;
        height: 100%;
    }
 }

 @media (max-width: 480px) {
     .product-details h1 {
         font-size: 20px;
     }

     .product-details p {
         font-size: 18px;
     }

     .social-share span {
         width: 20px;
         height: 20px;
         line-height: 20px;
         font-size: 14px;
     }
 }